<html>
  <head>
    <title><%= @postagem.titulo %></title>
    <h1><%= @postagem.subtitulo %> </h1>
  </head>
  <body>
    <ul>
        <li><%= @postagem.conteudo %> </li>
        <li><%= @postagem.usuario %> </li>
    </ul>
  </body>
</html>
